/* Default classes */
.bg-dark-blue {
    background-color: #263238;
}
.bg-blue {
    background-color: #4f71ce;
}
.bg-mid-blue {
    background-color: #42a5f5;
}
.bg-light-blue {
    background-color: #64b5f6;
}
.bg-lilac {
    background-color: #6370b6;
}
.bg-lightorange {
    background-color: #fcb322;
}
.bg-orange {
    background-color: #ef6c00;
}
.bg-red {
    background-color: #e74c3c;
}
.bg-green {
    background-color: #95c85a;
}
.bg-white {
    background-color: #fff;
}
.bg-dark-grey {
    background-color: #b5b5b5;
}
.border-grey {
    border: 1px solid #dedede;
}
.green-shadow {
    -webkit-box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
       -moz-box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
            box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
}
.grey-shadow {   
    -webkit-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);   
       -moz-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);   
            box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;    
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.title {
    font-family: 'robotobold', sans-serif;
    font-size: 2.25rem;
    color: #263238;
    line-height: 1.6667em;
    margin-bottom: 49px;
}
.title.title-white {
    color: #fff;
}
/* Custom styles */
/* Default component */
.store-section {
    padding: 114px 30px;
}
.popular-item {
    position: relative;
}
.trending-icon img {
    position: absolute;
}
.trending-icon i {
    position: absolute;
    font-size: 1.125rem;
    color: #fff;
    top: 12px;
    left: 13px;
}
.breadcrumb {
    padding: 35px 0;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li a {
    font-family: 'robotoregular', sans-serif;
    color: #b0bec5;
    font-size: 0.9375rem;
    line-height: 2.6667em;
}
.breadcrumb > li + li::before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}
.breadcrump > .active, .breadcrumb > a.active {
    color: #263238;
}
.aside {
    margin-bottom: 110px;
}
.aside-section {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.aside-section h3 {
    font-weight: normal;
}
.aside-section + .aside-section {
    margin-top: 30px;
}
.aside-title {
    font-family: 'robotobold', sans-serif;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 25px;
    font-size: 1.25rem;
    line-height: 3em;
}
.default-chevron-list {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    line-height: 2.6667em;
    color: #263238;
}
.default-chevron-list li {
    margin-bottom: 4px;
}
.default-chevron-list .fas {
    font-size: 0.625rem;
    color: #8bc34a;
    padding-right: 12px;
}
.category-item-count {
    color: #c9d2d6;
}
.card {
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
       -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
            box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.card:hover {
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
       -moz-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
            box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}
.card-img img {
    width: 100%;
}
.card-description {
    padding: 22px 20px;
    border-bottom: 1px solid #e7ecf2;
}
.card-small-description {
    padding-left: 20px;
}
.card-item-info .card-title{
    display: block;
}
.card-item-info .card-category {
    display: block;
}
.card-title {
    font-family: 'robotomedium', sans-serif;
    color: #263238;
    font-size: 1rem;
}
.card-category {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.875rem;
    color: #8bc34a;
    margin-top: 3px;
}
.card-price {
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    color: #263238;
}
.card-author-info {
    padding: 15px 20px;
    line-height: 30px;
}
.card-author img {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
.card-author {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.875rem;
    color: #546e7a;
}
.product-rating li {
    display: inline-block;
    font-size: 0.75rem;
    color: #ffa726;
}
.product-reviews-count {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #263238;
}
.product-reviews-count::before {
    content: '(';
    font-size: 0.875rem;
    color: #546e7a;
}
.product-reviews-count::after {
    content: ')';
    font-size: 0.875rem;
    color: #546e7a;
}
/* Defoult component end */
/* header start */
.top-header {
    padding-top: 26px;
    padding-bottom: 26px;
}

.need-help {    
    font-family: 'robotoregular', sans-serif;    
    color: #546e7a;
    font-size: 0.9375rem;
    line-height: 3.2em;
    text-indent: 1em;
}
.need-help span > span {
    color: #e74c3c;
}
.user-controls {
    margin-left: 27px;
}
.dropdown-item {
    position: relative;
}
.dropdown-item.show .dropdown-control i {
    color: #263238;
}
.dropdown-item + .dropdown-item {
    margin-left: 16px;
}
.dropdown-control {
    background-color: #f5f5f5;
    width: 34px;
    height: 34px;
    color: #a0a0a0;
    font-size: .875rem;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    display: none;
    max-width: 200px;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #d3d3d3;
    min-width: 160px;
    right: 0;
    -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
       -moz-box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
            box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
}
.dropdown-item .dropdown-menu {
    margin-top: 33px;
    right: 100px;
}
.dropdown-menu.big-dropdown {
    min-width: 267px;
}
.dropdown-menu.small-dropdown {
    min-width: 83px;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-notify-item {
    padding: 18px 21px;
}
.dropdown-notify-item i {
    color: #b0bec5;
    font-size: 1rem;
    margin-top: 8px;
}
.dropdown-notify-item:hover i {
    color: #ef6c00;
}
.dropdown-notify-item + .dropdown-notify-item {
    border-top: 1px solid #d3d3d3;
}
.notify-item-info {
    margin-left: 20px;
    margin-top: 6px;
}
.notify-date {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.625rem;
    color: #707070;
}
/* Bell notify */
.bell-notify .notify-item-info h6 {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #84b743;
    font-weight: normal;
}
/* Bell notify end */
/* Email notify */
.email-notify .notify-item-info span {
    display: block;
}
.email-notify .notify-author {
    font-family: 'robotobold', sans-serif;
    font-size: 0.75rem;
    color: #263238;
}
.email-notify .notify-signature {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.6875rem;
    color: #84b743;
    font-weight: normal;
}
/* Email notify end */
/* Shopping cart notify */
.shopping-cart-notify .notify-item-info {
    margin-top: 0;
}
.shopping-cart-notify .notify-item-info h6 {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #84b743;
    font-weight: normal;
}
.shopping-cart-notify .notify-author {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.9375rem;
    color: #263238;
}
.shopping-cart-notify .notify-price {
    font-family: 'robotomedium', sans-serif;
    font-size: 1rem;
    color: #000;
}
.shopping-cart-notify .notify-total-price {
    padding-bottom: 18px;
    font-family: 'robotobold', sans-serif;
    font-size: 1rem;
    color: #263238;
}
.notify-button {
    padding: 8px 14px;
    font-family: 'robotobold', sans-serif;
    font-size: 0.875rem;
    color: #fff;
    font-weight: normal;
}
a.notify-button:hover {
    color: #fff; 
}
/* Shopping cart notify end */
/* User dropdown */
.user-dropdown-control .dropdown-menu {
    margin-top: 26px;
}
.user-dropdown-control .default-chevron-list {
    padding: 24px 14px
}
.user-dropdown-control .default-chevron-list li {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #546e7a;
    line-height: 1em;
}
.user-dropdown-control .default-chevron-list li + li {
    margin-top: 21px;
}
.user-dropdown-control .default-chevron-list li .fas {
    color: #8bc34a;
    font-size: 0.625rem;
}
/* User end */
.notify-count {
    position: absolute;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    top: -8px;
    right: -5px;
    text-align: center;
    line-height: 16px;
    text-indent: 0.091em;
}
.user-dropdown-control {
    margin-left: 20px;    
    margin-right: 27px;
    position: relative;
}
.user-avatar {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    margin-right: 13px;
}
.user-info-wrap {
    cursor: pointer;   
}
.user-info-wrap h6 {
    font-family: 'robotomedium',sans-serif;
    font-size: 0.875rem;
    line-height: 1.7142em;
    font-weight: normal;
    text-align: left;
}
.user-info-wrap .fas{
    color: #707070;
    font-size: 0.75rem;
    line-height: 1.5em;
    margin-left: 10px;
}
.balance {
    font-family: 'robotobold', sans-serif;
    font-size: 0.875rem;
    color: #8bc34a;
}
.user-controls button + button {
    margin-left: 10px;
}
.user-nav {
    padding: 21px 18px;
}
.login-btn{
    margin-left: 26px;
}
.login-btn, .register-btn, .logout-btn {
    font-weight: bold;
    color: #fff;
    font-size: 0.75rem;
    line-height: 2em;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    padding: 5px 18px;
}
.max-width-btn {
    color: #fff;
    font-weight: bold;
    font-size: 0.9375rem;
    padding: 12px 0;
    width: 100%;
}
.bottom-header {
    padding-top: 15px;
    padding-bottom: 15px; 
}
.header-nav {
    font-family: 'robotomedium',sans-serif;
    font-size: 0.875rem;
    line-height: 2.1428em;
    color: #fff;
}
.header-nav a + a {
    margin-left: 37px;
}
/* header end */
/* inner start */
.inner {
    padding-top: 159px;
    padding-bottom: 175px;
    background: url("../img/inner-bg.jpg") no-repeat center / cover;
}
.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url("../img/small-inner-bg.jpg") no-repeat center / cover;
}
.inner-title {
    margin-bottom: 50px;
}
.inner-title h1 {
    font-family: 'robotobold', sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 3rem;
    line-height: 0.625em;
    margin-bottom: 30px;
}
.inner-subtitle {
    font-family: 'robotomedium',sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5em;
    margin-bottom: 25px;
}
.search-wrap {    
    max-width: 671px;
    margin: 0 auto;
    position: relative;
}
.search-input {
    width: 100%;
    height: 56px;
    background-color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    padding-left: 25px;
    padding-right: 50px;
    font-size: 14px;
    color: #90a4ae;
}
.search-input::-webkit-input-placeholder { font-family: 'robotomedium',sans-serif;  font-size: 0.875rem; color: #90a4ae; letter-spacing: 0.05em; }
.search-input::-moz-placeholder          { font-family: 'robotomedium',sans-serif;  font-size: 0.875rem; color: #90a4ae; letter-spacing: 0.05em; } /* Firefox 19+ */
.search-input:-moz-placeholder           { font-family: 'robotomedium',sans-serif;  font-size: 0.875rem; color: #90a4ae; letter-spacing: 0.05em; } /* Firefox 18- */
.search-input:-ms-input-placeholder      { font-family: 'robotomedium',sans-serif;  font-size: 0.875rem; color: #90a4ae; letter-spacing: 0.05em; }

.search-input-btn {
    background-color: transparent;
    color: #7c939f;
    font-size: 20px;
    position: absolute;
    right: 3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
/* inner end */
/* Newest products */
.newest-products-nav{
    margin-bottom: 70px;
}
.newest-products-nav li {
    display: inline-block;
}
.newest-products-nav .nav-link.active {
    background-color: #e74c3c;
    color: #fff;
}
.newest-products-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.newest-products-nav .nav-item + .nav-item {
    border-left: none;
    margin-left: 6px;
}
.newest-products-nav .nav-link {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.875rem;
    color: #263238;
    padding: 9px 20px;
}
.newest-products-nav .nav-link::after {
    display: none;
}
.newest-products .card {
    margin-bottom: 30px;
}
.newest-products-view {
    margin-top: 60px;
}
.newest-products-view li {
    display: inline-block;
}
.newest-products-view li + li {
    margin-left: 10px;
}
.newest-products-view li a {
    padding: 15px 30px;
    font-family: 'robotoregular', sans-serif;
    font-size: 1rem;
    color: #263238;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
       -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
            box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
}
/* Newest products end */
/* Week trending */
.week-trending-wrapper {
    padding-bottom: 20px;
}
.slick-dots {
    text-align: center;
    margin-top: 10px;
    line-height: 0;
}
.slick-dots li {
	display: inline-block;
	vertical-align: middle;
}
.slick-dots li::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}
.slick-dots li + li {
	margin-left: 5px;
}
.slick-dots li button {
	color: transparent;
	width: 7px;
    height: 7px;
    padding: 0;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	border: 1px solid #ccc;
	background-color: #ccc;
}
.slick-dots li.slick-active button {
	background-color: transparent;
	width: 9px;
	height: 9px;
}
/* Week trending end */
/* why chose us */
.why-chose-circle {
    width: 110px;
    height: 110px;    
    -webkit-border-radius: 50%;    
       -moz-border-radius: 50%;    
            border-radius: 50%;
    margin-bottom: 30px;
}
.why-chose-title{
    color: #fff;
}
.why-chose-title-green {
    color: #8bc34a;
}
.why-chose-text {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    color: #b0bec5;
    margin-top: 30px;
}
/* why chose us end */
/* Became author */
.became-author-wrap {
    margin: 0 18px;
    padding: 70px 58px;
    border-top: 115px solid #b5b5b5;
    border-bottom: 115px solid #b5b5b5;
    border-left: 225px solid #b5b5b5;
    border-right: 225px solid #b5b5b5;
}
.became-author-text {
    font-family: 'robotobold', sans-serif;
    font-size: 1.875rem;
    line-height: 1.2em;
    color: #fff;
    width: 50%;
    font-weight: normal;
}
.became-author-btn {
    font-family: 'robotoregular', sans-serif;
    font-size: 1.125rem;
    color: #263238;
    font-weight: normal;
}
/* Became author end */
/* Free tutorial */
.tutorial-title {
    font-family: 'robotobold', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5em;
    color: #263238;
}
/* Free tutorial end */
/* all-items */
.all-items-wrap .card {
    margin-bottom: 30px;
}
/* =========== aside start ============= */
/* categories start */
.categories .aside-title{
    margin-bottom: 29px;
}
/* categories end */
/* price range */
.range-slider-wrap{
    margin-top: -8px;
    margin-bottom: 47px;
}
.aside-section button i {
    padding-right: 11px;
}

/* price range end */
/* top 10 */
.all-items-wrap .aside-section .card {    
    margin-bottom: 0;
}
.aside-section .card-description {
    padding: 16px 0;
    border-bottom: none;
}
.aside-section .card-category {
    margin-top: 0;
}
.aside-section .card-author-info {
    padding: 0;
}
.aside-section .card {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none; 
}
.aside-section .card:hover {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.aside-section .card + .card {
    border-top: 1px solid #dde3e8;
    padding-top: 25px;
}
.aside-section .card-img a img {
    height: 120px;
}
.aside-section .card:last-child {
    border-bottom: none;
    padding-bottom: 500px;
}
.aside-section .card-title {
    font-family: 'robotobold', sans-serif;
    font-size: 1rem;    
}
.aside-section .card-price {
    font-size: 1rem;
}
.aside-section .card-author-info {
    padding-bottom: 25px;
}
.aside-section .card + button {
    margin-top: 25px;
}
/* top 10 end */
/* Product price */
.product-price .dropdown-menu {
    margin-top: 0;
}
.product-price .max-width-btn + .max-width-btn {
    margin-top: 8px;
}
.product-price-btn button {
    font-family: 'robotoregular', sans-serif;
    font-size: 1rem;
    -webkit-box-shadow: 0 1px 2px rgba(69, 90, 100, .75);
       -moz-box-shadow: 0 1px 2px rgba(69, 90, 100, .75);
            box-shadow: 0 1px 2px rgba(69, 90, 100, .75);
}
.product-price-btn button:first-child, .product-price-btn button:last-child {
    font-family: 'robotobold';
}
.current-price-wrap {
    margin-top: 5px;
    margin-bottom: 28px;
}
.current-price {
    font-family: 'robotomedium', sans-serif;
    font-size: 1.375rem;
    line-height: 1.8181em;
    color: #e74c3c;
}
.payment-type {
    font-family: 'robotoregular', sans-serif;
    padding: 3px 9px;
    font-size: 0.8125rem;
    color: #70838d;
    cursor: pointer;
}
.payment-type i {
    color: #8bc34a;
    margin-left: 10px;
}
.payment-type li + li {
    border-top: 1px dashed #d3d3d3;
}
/* Product price end */
/* Product author */
.product-author .author-name {
    font-family: 'robotoregular', sans-serif;
    font-size: 1.125rem;
    color: #263238;    
    margin-left: 14px;
}
.view-profile-btn {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.8125rem;
    color: #707070;
    padding: 3px 10px;
    margin-top: 5px;
}
.product-author-img img {
    height: 100%;
}
/* Product-author end */
/* Count of sales */
.sales-count {
    font-family: 'robotolight', sans-serif;
    padding-top: 30px;
    color: #707070;
    font-size: 1rem;    
}
.sales-count i {
    color: #a6b5bb;
    font-size: 1.25rem;
    margin-right: 20px;
}
.sales-count-number {
    font-family: 'robotobold', sans-serif;
    color: #263238;
    font-size: 1.25rem;
    margin-right: 14px;
}
/* Count of sales end */
/* Product information */
.product-information {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.875rem;
    line-height: 1.4285em;
    color: #263238;
}
.product-information span {
    font-family: 'robotoregular', sans-serif;
    color: #70838d;
    padding-left: 6px;
}
.product-information li + li {
    margin-top: 17px;
}
/* Product information end */
/* =========== aside end ============= */
/* view-controls start */
.view-controls {
    padding: 20px;
    margin-bottom: 30px;
}
.sort-order {
    color: #455a64;
    margin-right: 12px;
    cursor: pointer;
}
.sort-method {
    color: #707070;
    font-size: 0.875rem;

}
.sort {
    color: #707070;
    padding-left: 12px;
    cursor: pointer;
}
.view-type-wrapper {
    font-size: 0.875rem;
    color: #90a4ae;
    cursor: pointer;
}
.view-type-wrapper .active {
    color: #8bc34a;
}
.view-type-wrapper i + i {
    margin-left: 12px;
}
/* view-controls end */
.all-items-pagination {
    margin-top: 57px;
}
.all-items-pagination li{
    display: inline-block;    
}
.all-items-pagination li a {
    font-family: 'robotomedium', sans-serif;
    font-size: 1rem;
    width: 1em;
    text-align: center;
    padding: 9px 18px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
       -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
            box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    cursor: pointer;
}
.all-items-pagination .active {
    background-color: #e74c3c;
    color: #fff;
}
/* all-items end */
/* Product details */
.product-baner img {
    padding: 15px 19px;
    width: 100%;
}
.product-description {
    padding: 40px 0;
}
.product-description h5 {
    font-weight: normal;
    color: #263238;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.875rem;
    line-height: 1.333em;
    margin-bottom: 20px;
}
.product-description p {
    font-family: 'robotoregular', sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    color: #707070;
}
.product-btn {
    font-family: 'robotomedium', sans-serif;
    padding: 13px 22px;
    color: #fff;
    font-size: 1rem;
}
a.product-btn:hover {    
    color: #fff;
}
.product-btn + .product-btn {
    margin-left: 18px;
}
.product-social a {
    padding: 13px 18px;
    color: #fff;
    font-size: 1.125rem;
    line-height: 3.333em;
}
.product-social a i {
    width: 18px;
    text-align: center;
}
/* product tabs */
.product-tabs {
    margin: 53px 0;
}
.tab-pane {
    display: none;
}
.tab-pane.show {
    display: block;
}
.nav-item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.nav-item + .nav-item {
    border-left: 1px solid #dfdfdf;
}
.nav-link {
    padding: 20px 10px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    height: 0;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.nav-link.active::after {
    height: 3px;
    background-color: #8bc34a;
}
.product-tabs .default-chevron-list {
    padding: 35px 0 60px 35px;
}
/* product tabs end */
/* More products */
.more-products {
    margin-bottom: 120px;
}
.more-products-title {
    padding: 20px 0;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.125rem;
    line-height: 1.3333em;
    color: #263238;
    text-indent: 1.3889em;
    margin-bottom: 28px;
}
.more-products .row + .row {
    margin-top: 28px;
}
.more-products .card-title {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.875rem;
    color: #263238;
    font-weight: normal;
}
.more-products .card-category {
    font-size: 0.75rem;
}
.more-products .card-price {
    font-family: 'robotobold', sans-serif;
    font-size: 1.125rem;
}
/* More products end */
/* product details end */
