/* Default classes */
.bg-dark-blue {
    background-color: #263238;
}
.bg-blue {
    background-color: #4f71ce;
}
.bg-mid-blue {
    background-color: #42a5f5;
}
.bg-light-blue {
    background-color: #64b5f6;
}
.bg-lilac {
    background-color: #6370b6;
}
.bg-light-orange {
    background-color: #fcb322;
}
.bg-orange {
    background-color: #ef6c00;
}
.bg-red {
    background-color: #e74c3c;
}
.bg-green {
    background-color: #95c85a;
}
.bg-white {
    background-color: #fff;
}
.bg-dark-grey {
    background-color: #b5b5b5;
}
.bg-grey {
    background-color: #f8f8f8;
}
.border-grey {
    border: 1px solid #dedede;
}
.green-shadow {
    box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
}
.grey-shadow {   
    box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;    
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.mobile-aside-toggle {
    display: none;
}
.close-mobile-aside {
    display: none;
}

@media (max-width: 991px) {
    .mobile-aside-toggle {
        display: block;
    }

    .close-mobile-aside {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
    }

    .mobile-aside {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        transition: transform .2s ease-in;
    }

    .mobile-aside.left {
        transform: translateX(-100%);
    }

    .mobile-aside.right {
        transform: translateX(100%);
        left: auto;
        right: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .7);
        opacity: 0;
        z-index: -1;
    }
    
    body.show-aside {
        overflow-y: hidden;
    }

    .show-aside .mobile-aside {
        height: 100vh;
        overflow-y: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .show-aside .mobile-aside {
        transform: translateX(0);
    }

    .show-aside .overlay {
        z-index: 998;
        opacity: 1;
    }
}
/* Custom styles */
/* Default component */
.store-section {
    padding: 114px 30px;
}
.popular-item {
    position: relative;
}
.trending-icon img {
    position: absolute;
}
.trending-icon i {
    position: absolute;
    font-size: 1.125rem;
    color: #fff;
    top: 12px;
    left: 13px;
}
.breadcrumb {
    padding: 35px 0;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li a {
    font-family: 'robotoregular', sans-serif;
    color: #b0bec5;
    font-size: 0.9375rem;
    line-height: 2.6667em;
}
.breadcrumb > li + li::before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}
.breadcrump > .active, .breadcrumb > a.active {
    color: #263238;
}
.aside {
    margin-bottom: 110px;
}
.aside-section {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.aside-section h3 {
    font-weight: normal;
}
.aside-section + .aside-section {
    margin-top: 30px;
}
.aside-title {
    font-family: 'robotobold', sans-serif;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 25px;
    font-size: 1.25rem;
    line-height: 3em;
}
.default-chevron-list {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    line-height: 2.6667em;
    color: #263238;
}
.default-chevron-list li + li {
    margin-top: 4px;
}
.default-chevron-list .fas {
    font-size: 0.625rem;
    color: #8bc34a;
    padding-right: 12px;
}
.category-item-count {
    color: #c9d2d6;
}
.card {
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    transition: all .1s ease-in;
}
.card:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}
.card-img img {
    width: 100%;
}
.card-description {
    padding: 22px 20px;
    border-bottom: 1px solid #e7ecf2;
}
.card-small-description {
    padding-left: 20px;
}
.card-item-info .card-title{
    display: block;
}
.card-item-info .card-category {
    display: block;
}
.card-title {
    font-family: 'robotomedium', sans-serif;
    color: #263238;
    font-size: 1rem;
}
.card-category {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.875rem;
    color: #8bc34a;
    margin-top: 3px;
}
.card-price {
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    color: #263238;
}
.card-author-info {
    padding: 15px 20px;
    line-height: 30px;
}
.card-author img {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
.card-author {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.875rem;
    color: #546e7a;
}
.product-rating li {
    display: inline-block;
    font-size: 0.75rem;
    color: #ffa726;
}
.product-reviews-count {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #263238;
}
.product-reviews-count::before {
    content: '(';
    font-size: 0.875rem;
    color: #546e7a;
}
.product-reviews-count::after {
    content: ')';
    font-size: 0.875rem;
    color: #546e7a;
}
.icon {
    display: inline-block;
}
.title {
    font-family: 'robotobold', sans-serif;
    font-size: 2.25rem;
    color: #263238;
    line-height: 1.6667em;
    margin-bottom: 49px;
}
.title.title-white {
    color: #fff;
}
.head-title {
    padding: 18px 33px;
    border-bottom: 1px solid #d7d7d7;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.5rem;
    color: #263238;
    font-weight: normal;
}
.form-body {
    padding-top: 40px;
    padding-bottom: 65px;
}
.form-body .row + .row {
    margin-top: 20px;
}
.form-body label {
    padding-left: 45px;
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    line-height: 40px;
    color: #444444;
}
.form-body sup {
    color: #8bc34a;
    font-size: 1.5rem;
    top: 0;
    left: 3px;
}
.form-control {
    width: 100%;
    height: 40px;
    padding: 0 17px;
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    font: 15px/40px 'robotoregular', sans-serif;
	color: #444444;
}
textarea.form-control {
    height: 150px;
}
/* Defoult component end */
/* header start */
.top-header {
    padding-top: 26px;
    padding-bottom: 26px;
}

.need-help {    
    font-family: 'robotoregular', sans-serif;    
    color: #546e7a;
    font-size: 0.9375rem;
    line-height: 3.2em;
    text-indent: 1em;
}
.need-help span > span {
    color: #e74c3c;
    text-indent: 0;
}
.user-controls {
    margin-left: 27px;
}
.dropdown-item {
    position: relative;
}
.dropdown-item.show .dropdown-control i {
    color: #263238;
}
.dropdown-item + .dropdown-item {
    margin-left: 16px;
}
.dropdown-control {
    background-color: #f5f5f5;
    width: 34px;
    height: 34px;
    color: #a0a0a0;
    font-size: .875rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    display: none;
    max-width: 200px;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #d3d3d3;
    min-width: 160px;
    right: 0;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
}
.dropdown-item .dropdown-menu {
    margin-top: 33px;
    right: 100px;
}
.dropdown-menu.big-dropdown {
    min-width: 267px;
}
.dropdown-menu.small-dropdown {
    min-width: 83px;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-notify-item {
    padding: 18px 21px;
}
.dropdown-notify-item i {
    color: #b0bec5;
    font-size: 1rem;
    margin-top: 8px;
}
.dropdown-notify-item:hover i {
    color: #ef6c00;
}
.dropdown-notify-item + .dropdown-notify-item {
    border-top: 1px solid #d3d3d3;
}
.notify-item-info {
    margin-left: 20px;
    margin-top: 6px;
}
.notify-date {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.625rem;
    color: #707070;
}
/* Bell notify */
.bell-notify .notify-item-info h6 {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #84b743;
    font-weight: normal;
}
/* Bell notify end */
/* Email notify */
.email-notify .notify-item-info span {
    display: block;
}
.email-notify .notify-author {
    font-family: 'robotobold', sans-serif;
    font-size: 0.75rem;
    color: #263238;
}
.email-notify .notify-signature {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.6875rem;
    color: #84b743;
    font-weight: normal;
}
/* Email notify end */
/* Shopping cart notify */
.shopping-cart-notify .notify-item-info {
    margin-top: 0;
}
.shopping-cart-notify .notify-author {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.9375rem;
    color: #263238;
}
.shopping-cart-notify  .notify-category {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #84b743;
}
.shopping-cart-notify .notify-price {
    font-family: 'robotomedium', sans-serif;
    font-size: 1rem;
    color: #000;
}
.shopping-cart-notify .notify-total-price {
    padding-bottom: 18px;
    font-family: 'robotobold', sans-serif;
    font-size: 1rem;
    color: #263238;
}
.notify-button {
    padding: 8px 14px;
    font-family: 'robotobold', sans-serif;
    font-size: 0.875rem;
    color: #fff;
    font-weight: normal;
}
a.notify-button:hover {
    color: #fff; 
}
/* Shopping cart notify end */
/* User dropdown */
.user-dropdown-control .dropdown-menu {
    margin-top: 26px;
}
.user-dropdown-control .default-chevron-list {
    padding: 24px 14px
}
.user-dropdown-control .default-chevron-list li {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.75rem;
    color: #546e7a;
    line-height: 1em;
}
.user-dropdown-control .default-chevron-list li + li {
    margin-top: 21px;
}
.user-dropdown-control .default-chevron-list li .fas {
    color: #8bc34a;
    font-size: 0.625rem;
}
/* User dropdown end */
.notify-count {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    top: -8px;
    right: -5px;
    text-align: center;
    line-height: 16px;
    text-indent: 0.091em;
}
.user-dropdown-control {
    margin-left: 20px;    
    margin-right: 27px;
    position: relative;
}
.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 13px;
}
.user-info-wrap {
    cursor: pointer;   
}
.user-info-wrap h6 {
    font-family: 'robotomedium',sans-serif;
    font-size: 0.875rem;
    line-height: 1.7142em;
    font-weight: normal;
    text-align: left;
}
.user-info-wrap .fas{
    color: #707070;
    font-size: 0.75rem;
    line-height: 1.5em;
    margin-left: 10px;
}
.balance {
    font-family: 'robotobold', sans-serif;
    font-size: 0.875rem;
    color: #8bc34a;
}
.user-controls button + button {
    margin-left: 10px;
}
.user-nav {
    padding: 21px 18px;
}
.login-btn{
    margin-left: 26px;
}
.login-btn, .register-btn, .logout-btn {
    font-weight: bold;
    color: #fff;
    font-size: 0.75rem;
    line-height: 2em;
    border-radius: 4px;
    padding: 5px 18px;
}
.max-width-btn {
    color: #fff;
    font-weight: bold;
    font-size: 0.9375rem;
    padding: 12px 0;
    width: 100%;
}
.bottom-header {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative; 
}
.header-nav {
    font-family: 'robotomedium',sans-serif;
    font-size: 0.875rem;
    line-height: 2.1428em;
    color: #fff;
}
.header-nav a + a {
    margin-left: 37px;
}
@media (max-width: 991px) {
    .user-controls {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }
    .dropdown-menu.dropdown-menu-right {
        transform: translate3d(0, 0, 0) !important;
    }
    .dropdown-item .dropdown-menu {
        margin-top: 40px;
    }
    .user-dropdown-control .dropdown-menu {
        margin-top: 47px;
    }
    .header-nav a + a {
        margin-left: 20px;
    }
}
@media (max-width:768px){
	.header-nav{
		display: none;
	}
	.slicknav_menu {
        float: right;
        margin-top: -23px;
        display: block;
        z-index: 99;
	}
}
@media (max-width: 576px) {
    .need-help {
        order: 2;
        width: 100%;
        line-height: 1.5;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
    }
    .need-help span > span {
        display: block;
    }    
    .user-dropdown-control {
        order: 1;
        width: 100%;
        justify-content: start;
        margin-top: 30px;
    }
    .logo {
        margin-left: auto;
        margin-right: auto;
    }
    .dropdown-menu.big-dropdown {
        min-width: 300px;
    }
    .bell-notify .dropdown-menu {
        margin-left: -15px;
    }
    .email-notify .dropdown-menu {
        margin-left: -85px;
    }
    .shopping-cart-notify .dropdown-menu {
        margin-left: -155px;
    }

}
/* header end */
/* inner start */
.inner {
    padding-top: 159px;
    padding-bottom: 175px;
    background: url("../img/inner-bg.jpg") no-repeat center / cover;
}
.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url("../img/small-inner-bg.jpg") no-repeat center / cover;
}
.inner-title {
    margin-bottom: 50px;
}
.inner-title h1 {
    font-family: 'robotobold', sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 17px;
}
.inner-subtitle {
    font-family: 'robotomedium',sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5em;
    margin-bottom: 25px;
}
.search-wrap {    
    max-width: 671px;
    margin: 0 auto;
    position: relative;
}
.search-input {
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 50px;
    font-size: 14px;
    color: #90a4ae;
}
.search-input::-webkit-input-placeholder { font-family: 'robotomedium',sans-serif;  font-size: 0.875rem; color: #90a4ae; letter-spacing: 0.05em; }
.search-input::-moz-placeholder          { font-family: 'robotomedium',sans-serif;  font-size: 0.875rem; color: #90a4ae; letter-spacing: 0.05em; } /* Firefox 19+ */
.search-input:-moz-placeholder           { font-family: 'robotomedium',sans-serif;  font-size: 0.875rem; color: #90a4ae; letter-spacing: 0.05em; } /* Firefox 18- */
.search-input:-ms-input-placeholder      { font-family: 'robotomedium',sans-serif;  font-size: 0.875rem; color: #90a4ae; letter-spacing: 0.05em; }

.search-input-btn {
    background-color: transparent;
    color: #7c939f;
    font-size: 20px;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}
/* inner end */
/* Newest products */
.newest-products-nav{
    margin-bottom: 70px;
}
.newest-products-nav li {
    display: inline-block;
}
.newest-products-nav .nav-link.active {
    background-color: #e74c3c;
    color: #fff;
}
.newest-products-nav .nav-item {
    flex-grow: 1;
}
.newest-products-nav .nav-item + .nav-item {
    border-left: none;
    margin-left: 6px;
}
.newest-products-nav .nav-link {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.875rem;
    color: #263238;
    padding: 9px 20px;
}
.newest-products-nav .nav-link::after {
    display: none;
}
.newest-products .card {
    margin-bottom: 30px;
}
.newest-products .card-description {
    padding: 22px 15px;
}
.newest-products .card-author-info {
    padding: 15px 15px;
}
.newest-products .card-title {
    font-size: 1.125rem;
    overflow: hidden;
}
.newest-products-view {
    margin-top: 60px;
}
.newest-products-view li {
    display: inline-block;
}
.newest-products-view li + li {
    margin-left: 10px;
}
.newest-products-view li a {
    padding: 15px 30px;
    font-family: 'robotoregular', sans-serif;
    font-size: 1rem;
    color: #263238;
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
}
@media (max-width: 768px) {
    .newest-products-nav {
        width: 100%;
    }
    .newest-products-nav .nav-item {
        width: 32%;
    }
    .newest-products-nav .nav-item + .nav-item {
        margin-left: 0;
    }   
}
@media (max-width: 576px) {
    .newest-products-nav .nav-item {
        width: 49%;
    }
    .newest-products-view li + li {
        margin-top: 30px;
        margin-left: 0;
    }
}
/* Newest products end */
/* Week trending */
.week-trending-wrapper {
    padding-bottom: 20px;
}
.week-trending-wrapper .card-title {
    font-size: 1.125rem;
}
.slick-dots {
    text-align: center;
    margin-top: 10px;
    line-height: 0;
}
.slick-dots li {
	display: inline-block;
	vertical-align: middle;
}
.slick-dots li::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}
.slick-dots li + li {
	margin-left: 5px;
}
.slick-dots li button {
    color: transparent;
	background-color: transparent;
	width: 16px;
    height: 16px;
    padding: 0;
    border-radius: 50%;
    box-shadow: inset 0 1px 2px #acacac;
	background-color: #e8e8e8;
}
.slick-dots li.slick-active button {
    background-color: #8bc34a;
    box-shadow: none;
	width: 16px;
	height: 16px;
}
/* Week trending end */
/* why chose us */
.why-chose-circle {
    width: 110px;
    height: 110px;    
    border-radius: 50%;
    margin-bottom: 30px;
}
.why-chose-title{
    font-family: 'robotomedium', sans-serif;
    font-size: 1.5rem;
    color: #fff;
}
.why-chose-title.title-green {
    color: #8bc34a;
}
.why-chose-text {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    color: #b0bec5;
    margin-top: 30px;
}
@media (max-width: 991px) {
    .why-chose .title {
        margin-bottom: 19px;
    }
    .why-chose-circle {
        margin-top: 30px;
    }
}
/* why chose us end */
/* Became author */
.became-author {
    margin-left: 18px;
    margin-right: 18px;
    padding: 115px 0;
    background: url("../img/became-author-bg.jpg") no-repeat center / cover;
}
.became-author-wrap {
    padding: 70px 0;
    width: 100%;
}
.became-author-text {
    font-family: 'robotobold', sans-serif;
    font-size: 1.875rem;
    line-height: 1.2em;
    color: #fff;
    font-weight: normal;
}
.became-author-btn {
    font-family: 'robotoregular', sans-serif;
    font-size: 1.125rem;
    color: #263238;
    font-weight: normal;
}
@media (max-width: 991px) {
    .became-author-btn {
        margin-top: 10px;
    }
}
/* Became author end */
/* Free tutorial */
.tutorial-title {
    padding: 36px 0;
    font-family: 'robotobold', sans-serif;
    font-size: 1.5rem;
    color: #263238;
}
.tutorial-img img {
    width: 100%;
}
@media(max-width: 991px) {
    .tutorial-img {
        margin-top: 30px;
    }
    .free-tutorial .title {
        margin-bottom: 19px;
    }
}
/* Free tutorial end */
/* all-items */
.all-items-wrap .card {
    margin-bottom: 30px;
}
/* =========== aside start ============= */
/* categories start */
.categories .aside-title{
    margin-bottom: 29px;
}
/* categories end */
/* price range */
.range-slider-wrap{
    margin-top: -8px;
    margin-bottom: 47px;
}
.aside-section button i {
    padding-right: 11px;
}

/* price range end */
/* top 10 */
.all-items-wrap .aside-section .card {    
    margin-bottom: 0;
}
.aside-section .card-description {
    padding: 16px 0;
    border-bottom: none;
}
.aside-section .card-category {
    margin-top: 0;
}
.aside-section .card-author-info {
    padding: 0;
}
.aside-section .card {
    box-shadow: none; 
}
.aside-section .card:hover {
    box-shadow: none;
}
.aside-section .card + .card {
    border-top: 1px solid #dde3e8;
    padding-top: 25px;
}
.aside-section .card-img a img {
    height: 120px;
}
.aside-section .card:last-child {
    border-bottom: none;
    padding-bottom: 500px;
}
.aside-section .card-title {
    font-family: 'robotobold', sans-serif;
    font-size: 1rem;    
}
.aside-section .card-price {
    font-size: 1rem;
}
.aside-section .card-author-info {
    padding-bottom: 25px;
}
.aside-section .card + button {
    margin-top: 25px;
}
/* top 10 end */
/* Product price */
.product-price .dropdown-menu {
    margin-top: 0;
}
.product-price .max-width-btn + .max-width-btn {
    margin-top: 8px;
}
.product-price-btn button {
    font-family: 'robotoregular', sans-serif;
    font-size: 1rem;
    box-shadow: 0 1px 2px rgba(69, 90, 100, .75);
}
.product-price-btn button:first-child, .product-price-btn button:last-child {
    font-family: 'robotobold';
}
.current-price-wrap {
    margin-top: 5px;
    margin-bottom: 28px;
}
.current-price {
    font-family: 'robotomedium', sans-serif;
    font-size: 1.375rem;
    line-height: 1.8181em;
    color: #e74c3c;
}
.current-price-wrap .jq-selectbox__select {
	padding: 0 25px 0 10px;
	font-family: 'robotoregular', sans-serif;
    font-size: 0.8125rem;
    background-color: #fff;
	line-height: 25px;
	color: #70838d;
	width: 92px;
	height: 25px;
}
.current-price-wrap .jq-selectbox__trigger {
	width: 25px;
}
.current-price-wrap .jq-selectbox__trigger-arrow {
	border-top: 5px solid #8bc34a;
}
/* Product price end */
/* Product author */
.product-author .author-name {
    font-family: 'robotoregular', sans-serif;
    font-size: 1.125rem;
    color: #263238;    
    margin-left: 14px;
}
.view-profile-btn {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.8125rem;
    color: #707070;
    padding: 3px 10px;
    margin-top: 5px;
}
.product-author-img img {
    height: 100%;
}
.author-batch {
    margin-top: 22px;
}
.author-batch li {
    display: inline-block;
}
.author-batch li + li {
    margin-left: 4px;
}
/* Product-author end */
/* Count of sales */
.sales-count {
    font-family: 'robotolight', sans-serif;
    padding-top: 30px;
    color: #707070;
    font-size: 1rem;    
}
.sales-count i {
    color: #a6b5bb;
    font-size: 1.25rem;
    margin-right: 20px;
}
.sales-count-number {
    font-family: 'robotobold', sans-serif;
    color: #263238;
    font-size: 1.25rem;
    margin-right: 14px;
}
/* Count of sales end */
/* Product information */
.product-information {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.875rem;
    line-height: 1.4285em;
    color: #263238;
}
.product-information span {
    font-family: 'robotoregular', sans-serif;
    color: #70838d;
    padding-left: 6px;
}
.product-information li + li {
    margin-top: 17px;
}
/* Product information end */
/* =========== aside end ============= */
/* view-controls start */
.view-controls {
    padding: 20px;
    margin-bottom: 30px;
}
.sort-order {
    color: #455a64;
    margin-right: 12px;
    cursor: pointer;
}
.sort-method {
    color: #707070;
    font-size: 0.875rem;

}
.sort {
    color: #707070;
    padding-left: 12px;
    cursor: pointer;
}
.view-type-wrapper {
    font-size: 0.875rem;
    color: #90a4ae;
    cursor: pointer;
}
.view-type-wrapper .active {
    color: #8bc34a;
}
.view-type-wrapper i + i {
    margin-left: 12px;
}
/* view-controls end */
.all-items-pagination {
    margin-top: 57px;
    margin-bottom: 110px;
}
.all-items-pagination li{
    display: inline-block;    
}
.all-items-pagination li a {
    font-family: 'robotomedium', sans-serif;
    font-size: 1rem;
    width: 1em;
    text-align: center;
    padding: 9px 18px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    cursor: pointer;
}
.all-items-pagination .active {
    background-color: #e74c3c;
    color: #fff;
}
/* all-items end */
/* Product details */
.product-baner img {
    padding: 15px 19px;
    width: 100%;
}
.product-description {
    padding: 40px 0;
}
.product-description h5 {
    font-weight: normal;
    color: #263238;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.875rem;
    line-height: 1.333em;
    margin-bottom: 20px;
}
.product-description p {
    font-family: 'robotoregular', sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    color: #707070;
}
.product-btn {
    font-family: 'robotomedium', sans-serif;
    padding: 13px 22px;
    color: #fff;
    font-size: 1rem;
}
a.product-btn:hover {    
    color: #fff;
}
.product-btn + .product-btn {
    margin-left: 18px;
}
.product-social li {
    display: inline-block;
}
.product-social li a {
    padding: 13px 18px;
    color: #fff;
    font-size: 1.125rem;
    line-height: 3.333em;
}
.product-social li a i {
    width: 18px;
    text-align: center;
}
@media (max-width: 576px) {
    .product-btn {
        width: 100%;
        text-align: center;
    }
    .product-btn + .product-btn {
        margin-left: 0;
        margin-top: 10px;
    }
}
/* product tabs */
.product-tabs {
    margin: 53px 0;
}
.tab-pane {
    display: none;
}
.tab-pane.show {
    display: block;
}
.nav-item {
    flex-grow: 1;
}
.nav-item + .nav-item {
    border-left: 1px solid #dfdfdf;
}
.nav-link {
    padding: 20px 10px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    height: 0;
    transition: all .2s ease-in;
}
.nav-link.active::after {
    height: 3px;
    background-color: #8bc34a;
}
.product-tabs .default-chevron-list {
    padding: 35px 0 60px 35px;
}
@media(max-width: 767px) {
    .product-tabs ul li {
        display: inline-block;
        width: 50%;
    }
    .product-tabs .default-chevron-list {
        padding: 0 0 35px 35px;
    }
    .product-tabs .default-chevron-list:first-child {
        padding-top: 35px;
    }
}
@media(max-width: 767px) {
    .product-tabs ul li {
        width: 100%;
    }
}
/* product tabs end */
/* More products */
.more-products {
    margin-bottom: 120px;
}
.more-products-title {
    padding: 20px 0;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.125rem;
    line-height: 1.3333em;
    color: #263238;
    text-indent: 1.3889em;
}
.more-products .row + .row {
    margin-top: 28px;
}
.more-products .card {
    margin-top: 28px;
}
.more-products .card-title {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.875rem;
    color: #263238;
    font-weight: normal;
}
.more-products .card-category {
    font-size: 0.75rem;
}
.more-products .card-price {
    font-family: 'robotobold', sans-serif;
    font-size: 1.125rem;
}
@media (max-width: 1200px) {
    .product-social {
        margin-top: 30px;
    }
}
/* More products end */
/* product details end */
/* upload product */
.upload-product-content {
    margin-bottom: 107px;
}

.submit-btn {
    font-family: 'robotomedium', sans-serif;
    font-size: 0.9375rem;
    padding: 16px 36px;
    color: #fff;
    line-height: 1;
}
@media (max-width: 768px) {
    .upload-product-content label {
        padding-left: 0;
    }
}
/* Upload product end */
/* Footer */
#footer {
    padding-top: 115px;
}
#footer .default-chevron-list {
    line-height: 1em;
    color: #b7c3c8;
}
#footer .default-chevron-list li + li {
    margin-top: 25px;
}
.footer-title {    
    font-family: 'ralewaybold', sans-serif;
    font-size: 1.375rem;
    line-height: 1.0909em;
    color: #fff;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
.footer-title::after {
    content: '';
    display: block;
    margin-top: 28px;
    margin-bottom: 32px;
    height: 3px;
    width: 50px;
    background-color: #8bc34a;
}
.footer-text {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    line-height: 1.6em;
    color: #b7c3c8;
    margin-bottom: 26px;
}
.footer-info-item {
    display: inline-block;
    font-family: 'latobold', sans-serif;
    font-size: 0.875rem;
    line-height: 1.7142em;
    color: #fff;
}
.footer-info-item .fas {
    color: #8bc34a;
    font-size: 1.125rem;
    width: 24px;
}
.footer-info-item .fa-phone {
    transform: rotate(90deg);
    margin-left: -3px;
}
.footer-info-item span {
    margin-left: 15px;
}
.footer-info-item li + li {
    margin-top: 23px;
}
.footer-contact {
    margin-bottom: 33px;
}
.footer-contact li {
    display: inline-block;
}
.footer-subtitle {
    font-weight: normal;
    color: #fff;
    font-family: 'robotoregular', sans-serif;
    font-size: 1.25rem;
    line-height: 1.8em;
    margin-bottom: 14px;
}
.subscribe-form-wrapper {
    background: linear-gradient(to bottom, #000 0%, #263238 100%);
    padding: 1px;
    display: inline-block;
}
.subscribe-form-wrapper #email {
    height: 37px;
    background-color: #2f3c43;
    width: 216px;
    padding-left: 13px;
    padding-right: 13px;
}
#email::-webkit-input-placeholder { font-family: 'robotoregular',sans-serif;  font-size: 0.875rem; color: #697378; }
#email::-moz-placeholder          { font-family: 'robotoregular',sans-serif;  font-size: 0.875rem; color: #697378; } /* Firefox 19+ */
#email:-moz-placeholder           { font-family: 'robotoregular',sans-serif;  font-size: 0.875rem; color: #697378; } /* Firefox 18- */
#email:-ms-input-placeholder      { font-family: 'robotoregular',sans-serif;  font-size: 0.875rem; color: #697378; }
.subscribe-form-wrapper button {
    padding: 9px 13px;
    background-color: #8bc34a;
    color: #fff;
    font-size: 1.15rem;
    line-height: 1;
}
.footer-copyright-wrapper {
    margin-top: 97px;
    padding: 27px 0;
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9375rem;
    border-top: 1px solid #424d53;
    color: #919699;
}
@media (max-width: 992px) {
    #footer {
        padding-top: 0;
        text-align: center;
    }
    .footer-title {
        margin-top: 115px;
    }
}
/* Footer end */
